.section {
  width: 70vw;
  margin: auto;
  clear: both; }

.division {
  width: 30vw;
  display: inline-block;
  float: left;
  padding: 1.5vw; }

input, select, textarea {
  width: 30vw;
  height: 2.3vw;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 1vw;
  padding-left: 3px; }

select {
  color: #a9a9a9; }

textarea {
  height: 8vw; }

button {
  width: 30vw;
  height: 2.3vw;
  font-size: 1vw;
  margin: 0;
  background: #4d92e3;
  border-radius: 5px; }

.icons {
  color: #979797;
  font-size: 2vw; }

@media screen and (max-width: 980px) {
  .division {
    width: 100%; }
  input, select, textarea {
    width: 100%;
    height: 3.3vw; }
  textarea {
    height: 10vw; }
  button {
    width: 100%;
    height: 4.3vw;
    font-size: 2vw; }
  .icons {
    font-size: 3vw; } }

/*# sourceMappingURL=contacto.css.map */
