body, html {
  margin: 0;
  overflow-x: hidden;
  font-family: Helvetica; }

.nav1 {
  width: 80vw;
  position: fixed;
  z-index: 2;
  padding-left: 10vw;
  padding-right: 10vw; }
  .nav1 img {
    float: left;
    width: 12vw;
    margin-top: 1.5vw; }
  .nav1 ul {
    float: right; }

.menu {
  list-style-type: none;
  text-transform: uppercase;
  padding: 2vw;
  font-size: 1vw;
  font-weight: 500; }
  .menu li {
    display: inline;
    padding: 1vw; }
    .menu li a {
      color: #fff; }

.menuscroll {
  background: rgba(17, 91, 202, 0.5) !important; }

#botonmenu {
  border: solid 1px #fff;
  padding: 1vw;
  border-radius: 4px; }

.nav2 {
  background: #115bca;
  display: none;
  width: 80vw;
  position: fixed;
  z-index: 2;
  padding-left: 10vw;
  padding-right: 10vw;
  color: #fff; }
  .nav2 img {
    float: left;
    width: 200px;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw; }
  .nav2 i {
    font-size: 61px;
    float: right;
    margin-top: 5px; }

.opciones {
  display: none; }

section {
  position: relative; }

#banner {
  width: 100vw;
  height: 45vw; }

.overlay {
  position: absolute;
  background: rgba(17, 91, 202, 0.5);
  width: 70vw;
  height: 30vw;
  color: #fff;
  padding-top: 15vw;
  padding-left: 15vw;
  padding-right: 15vw;
  text-align: center; }
  .overlay span {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw; }
  .overlay p {
    margin-top: 5px;
    font-size: 1.6vw;
    font-weight: 500; }

.sections {
  padding-top: 3vw;
  text-align: center; }

.second {
  width: 70vw;
  height: 35vw;
  padding-left: 15vw;
  padding-right: 15vw; }

#elementos {
  width: 50vw;
  margin: auto;
  margin-top: 2vw; }

.elementos {
  border-radius: 50%;
  background: #1ab7f3;
  width: 10vw;
  height: 10vw;
  text-align: center;
  float: left; }

.reloj {
  background: #6bcccf; }

.money {
  background: #fec200; }

.elementosEspacio {
  margin-left: 10vw; }

.texto {
  color: #979797;
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw; }

h2 {
  font-size: 1.8vw; }

h3 {
  font-size: 1.4vw; }

h2, h3 {
  color: #4d92e3;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }

.third {
  background: #efeff3;
  width: 100vw;
  height: 34vw; }

.bloques {
  text-align: justify;
  display: inline-block;
  width: 25vw;
  padding: 1vw; }

.fourth {
  width: 100vw;
  height: 38vw; }

.beneficios {
  margin: auto;
  text-align: left;
  width: 70vw;
  height: 3vw; }
  .beneficios li {
    padding-left: 3vw;
    background: url(../images/elementos/check.png) no-repeat;
    background-size: 2.5vw;
    background-position: left center top;
    list-style: none;
    margin-bottom: 4vw; }
    .beneficios li p {
      font-family: 'Raleway', sans-serif;
      font-size: 1.4vw;
      color: #979797; }

button {
  width: 20vw;
  height: 3vw;
  background: #48b14b;
  text-transform: uppercase;
  font-size: 1.4vw;
  color: #fff;
  border: 0;
  margin-top: 20vw;
  cursor: pointer; }

footer {
  background: #efeff3;
  clear: both;
  width: 100vw;
  height: 15vw; }

#footer1 {
  height: 12vw;
  padding-left: 10vw; }

#footer2 {
  width: 87vw;
  height: 2vw;
  background: #2b2b6f;
  color: #fff;
  font-size: 1vw;
  padding-left: 13vw;
  padding-top: 1vw; }

.menuFooter {
  list-style-type: none;
  text-transform: uppercase;
  padding: 2vw;
  font-size: 1vw; }
  .menuFooter li {
    display: inline;
    padding: 1vw; }
    .menuFooter li a {
      color: #979797; }

#avisos {
  padding-left: 3vw;
  font-size: 1vw; }

#derechos {
  padding-left: 3vw;
  font-size: 1vw; }

#subfooter1 {
  width: 30vw;
  float: left; }

#subfooter2 {
  width: 30vw;
  float: right; }

a {
  text-decoration: none; }

@media screen and (max-width: 980px) {
  .nav1 {
    display: none; }
  .nav2 {
    display: block; }
  .opciones {
    clear: both;
    width: 100vw; }
  .menumov {
    list-style-type: none;
    text-transform: uppercase;
    padding: 2vw;
    font-size: 4vw;
    font-weight: 500; }
    .menumov li {
      display: block;
      padding: 2vw; }
      .menumov li a {
        color: #fff; } }

@media screen and (max-width: 980px) {
  .overlay span {
    font-size: 2.3vw; }
  .overlay p {
    font-size: 2.6vw; }
  .bloques {
    width: 80vw;
    margin: auto; }
  .texto {
    font-size: 2vw; }
  .sections {
    height: auto;
    clear: both; }
  #avisos {
    padding-left: 3vw;
    font-size: 1.5vw; }
  #derechos {
    font-size: 1.5vw; }
  #footer2 {
    font-size: 1.5vw; }
  h2 {
    font-size: 2.8vw; }
  h3 {
    font-size: 2.4vw; }
  .beneficios li p {
    font-size: 2.4vw; }
  button {
    width: 30vw;
    height: 5vw;
    font-size: 2.4vw;
    margin-top: 45vw; }
  .second {
    width: 80vw;
    height: 50vw;
    padding-left: 10vw;
    padding-right: 10vw; } }

/*# sourceMappingURL=general.css.map */
