.overlay span {
  font-family: Helvetica;
  text-transform: uppercase;
  font-size: 1.6vw; }

.overlay p {
  font-family: 'Raleway', sans-serif;
  margin-top: 5px;
  font-size: 1.3vw;
  font-weight: 500; }

@media screen and (max-width: 980px) {
  .overlay span {
    font-size: 2.6vw; }
  .overlay p {
    font-size: 2.3vw; } }

/*# sourceMappingURL=reoverlay.css.map */
