$color:#979797;
$azul:#4d92e3;
$break-small:980px;
.textContainer{
    clear:both;
    height:auto;
    padding-left:10%;
    padding-right:10%;
    padding-top:3vw;
    padding-bottom:2vw;
}
h3{
    color: $color;
}
.seccion1{
    width:35vw; float:left; min-width: 400px;
}
.seccion2{
    width:35vw; float:right; margin-bottom:2vw; margin-top:10vw; border: solid 1px #ccc; min-width: 400px;
}
.values{
    width:95%;
    margin: auto;
    position: relative;
    margin-top: -25px;
}
.izquierda{
    float: left;
}
.derecha{
    float: right;
}
#response{
    background: #f5f5f5;
    width: 35vw;
    padding-bottom: 1vw;
    min-width: 400px;
}
#obtenga{
    height: 2.5vw;
    text-align: center;
    color:#fff;
    background: #48b14b;
    text-transform: uppercase;
    font-size: 1.4vw;
    border: 0 !important;
    padding-top: 1vw;

}
.ver{
    width: 33vw;
    height: 2vw;
    min-width: 380px;
    margin: auto;
    border: solid 1px #ccc;
    text-transform: uppercase;
    text-align: center;
    font-size: 1vw;
    padding-top: 1vw;
    color:$color;
}
.datos{
    border: 0;
    height: 5vw;
    padding-top: 2vw;
}
#datosInt{
    margin:auto;
    width:100%;
    div{
        float:left;
        width:33.3%;
        height:30px;
        span{
            color:$azul;
            line-height: 2;
        }
    }
}

#marco{
    padding: 0.5vw;
    background: #fff;
    width: 32vw;
    min-width: 380px;
    margin: auto;
    border: solid 1px #ccc;
}

#contenedor {
    display: table;
    width: 100%;
    text-align: center;
    background: blue;
    margin: 0 auto;
    font-size:0.8vw;
    .contenidos {
        display: table-row;
    }
    .columna {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        border-bottom: 1px solid #EFEFEF;
        border-top: 1px solid #EFEFEF;
    }

    .contenidos:nth-child(odd){
        background: #f1f1f1;
        color: $color;
    }
    .contenidos:nth-child(even){
        background: #ffffff;
        color: $color;
    }
    .contenidos:nth-child(1){
         font-weight: bolder;
    }
}

@media screen and (max-width: $break-small) {
    #obtenga{
    height: 5vw;
    text-align: center;
    color:#fff;
    background: #48b14b;
    text-transform: uppercase;
    font-size: 2.6vw;
    border: 0 !important;
    padding-top: 2vw;

}

.ver{
    width: 78vw;
    height: 4vw;
    min-width: 380px;

    font-size: 2.5vw;

    color:$color;
}
.datos{
    border: 0;
    height: 8vw;
    padding-top: 2vw;
}
    #contenedor{
        font-size:2.7vw;
    }
.seccion2{
    width: 80vw;
    float:left;
}

.ngrs-range-slider .ngrs-runner {
    height: 60px;
}
.ngrs-range-slider .ngrs-join {
    top: 15%;
    height: 50px;

}
.ngrs-range-slider .ngrs-handle i {
    width: 60px;
    height: 60px;
}
.ngrs-range-slider .ngrs-handle {
    position: absolute;
    z-index: 2;
    height: 60px;
    width: 60px;
    margin: 0 0 0 -20px;
}
}
